@import "/src/Global";

.toast-container {
	position: absolute;
	right: 20px;
    top: 20px;
	width: fit-content;
	padding: 15px 20px;
	background: $primary;
	color: $text_primary;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 12px;
}
